:root {
	--shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@font-face {
	font-family:font;
	src:url(../font/text.ttf);
}

*{
  	box-sizing:border-box;
  	font-family:font;
  	transition:background-color 0.1s 0s , color 0.1s 0s;
}
*:focus {
  	outline:none;	
}
body {
	margin:0px;
	height:100vh;
}
.popup_box {
	display:block;
	position:fixed;
	bottom:15px;
	width:85%;
	left:calc(50% - 42.5%);
	background-color:#ea7b7b;
	color:white;
	font-family:monospace;
	font-weight:800;
	border-left:4px solid #E53935;
	box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	height:60px;
	opacity:0;
	transform:translateX(-100px);
	transition:transform 0.3s , opacity 0.3s;
}
.popup_box msg {
	width:calc(100% - 50px);
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	font-size:12px;
	height:100%;
	padding:10px 8px;
	overflow:scroll;
	height:auto;
	display:flex;
	align-items:center
}
.popup_box closeIc{
	position:absolute;
	top:0;
	height:100%;
	right:0;
	width:50px;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:20px;
	background-color:#E53935;
}

*{
  	box-sizing:border-box;
  	font-family:monospace;
}
*:focus {
  	outline:none;  	
}
body {
	margin:0px;
	height:100vh;
}
:root {
	--shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.center {
	width:100%;
	text-align:center;
}
.flex {
	display:flex;
	justify-content:center;
	align-items:center;
}
.header {
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:white;
	box-shadow:var(--shadow);
	height:100px;
	z-index:2;
}
.header .title {
	width:100%;
	font-weight:800;
	font-size:25px;
	height:28px;
	text-align:center;
	position:absolute;
	top:calc(50% - 20px);
}
.social_ic {
	width:100%;
	position:absolute;
	bottom:0px;
}
.social_ic a {
	cursor:none;
}
.social_ic a img {
	width:20px;
	margin:10px;
	opacity:0.7;
}
.rest {
	width:100%;
	left:0;
	background-color:whitesmoke;
	position:fixed;
	z-index:1;
	padding:20px;
	overflow:scroll;
}
.rest label {
	font-size:13px;
	font-weight:800;
	margin:4px 6px;
}
.rest .input_class {
	width:90%;
	position:relative;
	display:flex;
	margin:6px auto;
}
.rest .input_class input {
	width:calc(100% - 40px);
	border:none;
	border-radius:6px 0px 0px 6px;
	padding:10px 14px;
	font-weight:800;
	font-size:12px;
	box-shadow:var(--shadow);
}
.rest .input_class .img {
	width:40px;
	padding:4px;
	background-color:#2979FF;
	box-shadow:var(--shadow);
	border-radius:0px 6px 6px 0px;
	transition:background-color 0.2s;
}
.rest .input_class .img:active {
	background-color:white;
}
.rest .input_class .img:active img{
	filter:invert(0%);
}
.rest .input_class .img img {
	width:70%;
	transition:filter 0.2s;
	filter:invert(100%);
}
.panel {
  	padding:0 18px;
  	background-color:white;
  	width:90%;
  	margin:6px auto;
  	overflow: hidden;
  	box-shadow:var(--shadow);
  	font-weight:800;
  	border-radius:6px;
}
.flex_s {
	display:flex;
	align-items:center;
}
.count_input {
	border-radius:4px;
	width:40px;
	border:0.5px solid #ccc;
	margin:0px 5px;
	padding:5px 4px;
	font-size:10px;
	font-weight:800;
}
.padd_label {
	width:100%;
	padding:4px 25px;
}
.submit_btn_cont {
	width:100%;
	text-align:center;
}
.submit_btn {
	background-color:#2979FF;
	font-weight:800;
	border:none;
	border-radius:6px;
	box-shadow:var(--shadow);
	color:white;
	margin:auto;
	padding:8px 22px;
	transition:box-shadow 0.2s 0s , background-color 0.2s 0s , color 0.2s;
}
.submit_btn:active {
	background-color:inherit;
	color:#2979FF;
	box-shadow:none;
}
#rand_length {
	border-radius:3px;
	padding:4px 6px;
	border:0.2px solid #ccc;
	font-weight:800;
	font-size:10px;
	width:40px;
}
.alertBox{
 	position:fixed;
 	bottom:6%;
	z-index:99999;
 	background-color:#FF5252 !important;
 	color:white !important;
 	font-size:15px;
 	padding:5px;
 	font-family:monospace;
	border-radius:0.3em;
 	font-weight:700;
 	box-shadow:var(--shadow);
 	opacity:0;
 	transform:translateY(40px);
	transition:0.3s;
}
@media only screen and (min-width: 768px) {
 	.alertBox{
  		font-size:30px;
  		padding:15px;
 	}
}
.add_new_btn {
	background-color:#2979FF;
	border:none;
	font-weight:800;
	border-radius:5px;
	padding:6px 12px;
	margin:6px 3px 0px 3px;
	font-size:12px;
	color:white;
	transition:background-color 0.2s 0s , color 0.2s;
}

.add_new_btn:active {
	background-color:inherit;
	color:#2979FF;
}
.add_new_opt {
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	width:100%;
	height:100%;
	visibility:hidden;
	opacity:0;
	transform:translateY(200px) scale(0.5);
	transition:opacity 0.3s 0s , transform 0.3s 0s;
}
.add_new_opt .bg {
	width:100%;
	position:absolute;
	height:100%;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.6);
}
.add_new_opt .add_new_menu {
	width:80%;
	height:250px;
	position:absolute;
	top:calc(50% - 125px);
	left:calc(50% - 40%);
	background-color:white;
	padding:8px;
	border-radius:6px;
	box-shadow:var(--shadow);
}
.add_new_opt .add_new_menu .title {
	padding:15px 0px 6px 10px;
	font-weight:800;
	font-size:20px;
}
.add_new_opt .add_new_menu label {
	font-weight:800;
	font-size:12px;
	width:100%;
	padding:15px;
}
.help_on_add {
	position:absolute;
	top:15px;
	right:15px;
	width:24px
}
.add_help {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:white;
	visibility:hidden;
	opacity:0;
	transform:scale(0) translateY(200px);
	transition:opacity 0.3s 0s , transform 0.3s 0s;
}
.add_help_exit {
	position:absolute;
	font-weight:800;
	font-size:35px;
	top:10px;
	left:15px;
	transition:color 0.2s;
	user-select:none;
}
.add_help_exit:active {
	color:#E53935;
}
.add_help .content {
	position:absolute;
	top:45px;
	left:0;
	width:100%;
	height:calc(100% - 45px);
	padding:10px 30px;
	font-weight:700;
}
#new_list_input {
	background-color:white;
	padding:8px 12px;
	margin:6px 10%;
	margin-top:10px;
	width:80%;
	border-radius:6px;
	border:0.5px solid #ccc;
	font-weight:800;
	font-size:12px;
}
.add_btns {
	width:100%;
	position:absolute;
	bottom:20px;
	text-align:center;
	left:0;
}
.add_btns button {
	background-color:#2979FF;
	border-radius:6px;
	color:white;
	padding:6px 18px;
	border:none;
	font-weight:800;
	box-shadow:var(--shadow);
	margin:0px 8px;
	transition:color 0.2s , background-color 0.2s , box-shadow 0.2s;
}
.add_btns button:first-child {
	background-color:#E53935;
}
.add_btns button:active {
	color:#E53935;
	background-color:white;
	box-shadow:none;
}
.add_btns button:last-child:active {
	color:#2979FF;
	background-color:white;
	box-shadow:none;
}
